<div class="footer text-center gray-light">
  <div class="icon-socials">
    <a ng-click="openShare('FACEBOOK')" href="" class="gray-light"><i class="icon-facebook icon-social"></i></a>
    <a href="https://www.instagram.com/thxltd/" target="_blank" class="gray-light"><i class="icon-instagram icon-social"></i></a>
    <a ng-click="openShare('TWEET')" href="" class="gray-light"><i class="icon-twitter icon-social"></i></a>
    <a href="https://www.youtube.com/user/THXVids" target="_blank" class="gray-light"><i class="icon-youtube icon-social"></i></a>
  </div>
  <div class="sm-font mt-10">©2017 THX LTD. ALL RIGHTS RESERVED. PRIVACY POLICY & TERMS OF USE</div>
</div>