<div class="teaser-about-home">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="mt-5"><img src="/assets/images/about-thx-mark.png" alt="About THX Standard"></div>
      </div>
      <div class="col-md-9 sm-mt-30">
        <div class="white-color">THX Engineers have conducted hundreds of objective and quantitative measurements of select TV and Audio products. These analyses are used by AV manufacturers and media to provide customers unbiased measurement data and metrics to help guide TV and Audio buying decisions. </div>
        <div class="mt-30"><a href="#!/about-page" class="lnk-yellow">Learn more <span class="prev-text">></span> </a></div>
      </div>
    </div>
  </div>
</div>