<div class="landscape-box">
  <div class="product-bar sm-font">
    <div class="clearfix">
      <div class="pull-left">
        <span class="product-catagory">
          <img class="img-feature-product-type" src="{{product.category[0].image1}}" alt=""> {{product.typeName}}
        </span>
      </div>
      <div class="pull-right">
        <span class="produt-date">{{publishDate}}</span>
      </div>
    </div>
  </div>
  <div class="relative product-box cursor-pointer" ng-click="openProductReview()">
    <div class="product-score">
      <span>{{product.overallScore}}</span>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="product-landscape-img text-center">
          <img src="{{product.image}}" alt="PRODUCT 1">
        </div>
      </div>
      <div class="col-md-7 mt-20">
        <h4 class="feature-product-title">{{product.shortDesc}}</h4>
        <div class="product-short-desc">{{product.longDesc}}</div>
        <div class="mt-30">
          <a ng-click="openProductReview()" class="lnk-yellow">Learn more
            <span class="prev-text">></span>
          </a>
        </div>
      </div>
    </div>
  </div>

</div>